<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399562932354-52mipdtr4r3tkaupi80i4luicehbmj11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399562932354-52mipdtr4r3tkaupi80i4luicehbmj11</string>
	<key>API_KEY</key>
	<string>AIzaSyCyTL-frUpYti-KUgjNRyusrT40dFw87M0</string>
	<key>GCM_SENDER_ID</key>
	<string>399562932354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rifeng-ding.silofit</string>
	<key>PROJECT_ID</key>
	<string>silofit-6515a</string>
	<key>STORAGE_BUCKET</key>
	<string>silofit-6515a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399562932354:ios:d99829bc01ea722177b49b</string>
	<key>DATABASE_URL</key>
	<string>https://silofit-6515a.firebaseio.com</string>
</dict>
</plist>